<!doctype html>
<html>
<head>
<title>Arjun Menon</title>
<link rel="apple-touch-icon" sizes="180x180" href="{{link('AM-apple-touch-icon')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{link('AM-favicon-32x32')}}">
<link rel="manifest" href="{{link('site')}}">
<link rel="stylesheet" href="{{link('site_style')}}">
</head>

<body>

<div>

<p>
Welcome to my home page.

<p>
I'm looking for new job opportunities at the moment.

<span style="">Feel free to take a look at my:</span>
<ul>
<li>GitHub: <a href="https://github.com/arjun-menon">https://github.com/arjun-menon</a></li>
<li>Resume: <a href="https://arjun-menon.com/resume">https://arjun-menon.com/resume</a></li>
</ul>

&mdash; Arjun Menon

</div>


<p>
The directories here are:
<ol>
{% for d in dir.subDirs %}
{% if d.title %}
<li><a href="{{link(d)}}">{{d.title}}</a></li>
{% endif %}
{% endfor %}
</ol>

{% for i in range(1,1) %}
  {{ '%d <br/>' % i }}
{%%}

</body>

</html>
