{{
	title = 'Arjun Menon'
	desc = "Arjun Menon's essays, thoughts & notes."
}}
{% capture content %}
<style>
.content {
	font-family: {{ fancy_sans_1 }};
}
</style>

<p>
I'm working on this website right now. It's not quite ready yet.
</p>

<!--

<p>
Welcome to my home page.
<p>
I'm looking for new job opportunities at the moment.
<p>
<span style="">Feel free to take a look at my:</span>
<ul>
<li>GitHub: <a href="https://github.com/arjun-menon">https://github.com/arjun-menon</a></li>
<li>Resume: <a href="https://arjun-menon.com/resume">https://arjun-menon.com/resume</a></li>
</ul>
&mdash; Arjun Menon

<p>
<ol>
{% for d in dir.subDirs %}
{% if d.title and d.shouldPublish and d.hasIndexPage %}
<li><a href="{{link(d)}}">{{d.title}}</a></li>
{% endif %}
{% endfor %}
</ol>

-->

{% endcapture %}
{{ inject(path('page')) }}
