{% capture content %}

<p>
Welcome to my home page.
<p>
I'm looking for new job opportunities at the moment.
<p>
<span style="">Feel free to take a look at my:</span>
<ul>
<li>GitHub: <a href="https://github.com/arjun-menon">https://github.com/arjun-menon</a></li>
<li>Resume: <a href="https://arjun-menon.com/resume">https://arjun-menon.com/resume</a></li>
</ul>
&mdash; Arjun Menon

<p>
The directories here are:
<ol>
{% for d in dir.subDirs %}
{% if d.title %}
<li><a href="{{link(d)}}">{{d.title}}</a></li>
{% endif %}
{% endfor %}
</ol>

{% for i in range(1,1) %}
  {{ '%d <br/>' % i }}
{%%}

{% endcapture %}
{{ inject(path('skeleton')) }}
