{{
	bg1x = 'https://gratom.com/arjun-menon/nature-bg.png'
	bg2x = 'https://gratom.com/arjun-menon/nature-bg-2x.png'

	# See: https://www.transparenttextures.com/
	textured_paper_png = link('textured-paper') # from https://www.transparenttextures.com/textured-paper.html
}}
@media (min-width: {{max_content_width}}) {
	@supports (backdrop-filter: blur(20px)) {
		body {
			background-color: rgb({{body_bgcolor}});
			background-image: -webkit-image-set(
				url('{{bg1x}}') 1x,
				url('{{bg2x}}') 2x
			), url("{{textured_paper_png}}");
			background-image: image-set(
				url('{{bg1x}}') 1x,
				url('{{bg2x}}') 2x
			), url("{{textured_paper_png}}");
		}

		#main {
			background: rgba({{content_bgcolor}}, 0.79);
			border-radius: 25px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(22px);
			border: 1px solid rgba({{content_bgcolor}}, 0.3);
		}
	}
}

/* Copied from https://fonts.cdnfonts.com/css/optima */
@font-face {
    font-family: 'Optima';
    font-style: normal;
    src: local('Optima'), url('https://fonts.cdnfonts.com/s/14439/OPTIMA.woff') format('woff');
	font-display: swap;
}
@font-face {
    font-family: 'Optima';
    font-style: italic;
    src: local('Optima Italic'), url('https://fonts.cdnfonts.com/s/14439/Optima_Italic.woff') format('woff');
	font-display: swap;
}
@font-face {
    font-family: 'Optima';
    font-weight: bold;
    src: local('Optima Bold'), url('https://fonts.cdnfonts.com/s/14439/OPTIMA_B.woff') format('woff');
	font-display: swap;
}

