{{
    # https://developer.mozilla.org/en-US/docs/Web/CSS/font-family#some_common_font_families
    # Or: https://github.com/mdn/content/blob/main/files/en-us/web/css/font-family/index.md
    std_serif_1 = '"Times New Roman", Times, Georgia, serif;'
    fancy_sans_1 = 'Optima, Candara, Calibri, Arial, Helvetica, sans-serif;'

    yellowish_1 = '#fef7ef;'
    whiteish_1 = '#fefefe;'
    bgcolor = yellowish_1

    max_page_width = '45em'
}}

:root {
  --std-serif-1: {{ std_serif_1 }}
  --fancy-sans-1: {{ fancy_sans_1 }}
}

body {
  font-family: {{ std_serif_1 }}
  background-color: {{bgcolor}}
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: {{ fancy_sans_1 }}
}

body, #page-div {
  min-height: 100vh;
}

#page-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#main {
  max-width: {{max_page_width}};
  margin: 0 auto;
  padding-left: 1.7em;
  padding-right: 1.7em;
}

#footer {
  /* https://stackoverflow.com/questions/56309871/svg-as-a-css-background-is-there-any-way-to-repeat-x-with-no-space-in-between */
  background-image: url("/assets/grass-01.svg"); /* {{link('grass-01')}} */
  background-repeat:repeat-x;
  height: 44px;
}

/*
 * Experiment with: view-source:https://niklasfasching.de/style.css
 *   Also on post: https://niklasfasching.de/posts/just-enough-css/
 */
h1, h2, h3, h4 {
  margin: 2.5rem 0   1.5rem 0;
  line-height: 1.25;
  color: #333;
}

a {
  color: #fa6432;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}
p code {
  background-color: #eee;
  padding: 0.05em 0.2em;
  border: 1px solid #ccc;
}

blockquote {
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1px #fa6432;
}
