@charset "UTF-8";

:root {
  --std-serif-1: {{ std_serif_1 }};
  --fancy-sans-1: {{ fancy_sans_1 }};
}

/*
 * Body, page layout, etc.
 */

body {
  margin: 0;
  font-family: {{ std_serif_1 }};
  background-color: rgb({{bgcolor}});
}

body, #page-div {
  min-height: 100vh;
}

#page-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#main {
  max-width: {{max_content_width}};
  margin: 1em auto 0 auto;
  padding-left: {{lr_padding}};
  padding-right: {{lr_padding}};
  padding-bottom: 1em;
}

#footer {
  /* https://stackoverflow.com/questions/56309871/svg-as-a-css-background-is-there-any-way-to-repeat-x-with-no-space-in-between */
  background-image: url("{{link('grass-01')}}");
  background-repeat: repeat-x;
  height: 44px;
}

/*
 * Nav crumbs
 */

nav {
  padding-top: 1em;
  font-size: smaller;
  font-family: {{ fancy_sans_1 }};
  a {
    color: rgb(150, 50, 0); /* #963200 */
    text-decoration: none;
  }
  a:hover, a:focus, a:active {
    text-decoration: underline;
  }
}

/*
 * Content
 */

h1, h2, h3, h4, h5, h6 {
  font-family: {{ fancy_sans_1 }};
  margin-top: 0.5em;
  margin-bottom: 0;
  color: #333;
}

p {
  line-height: 1.5;
  font-size: 17px;
}

blockquote {
  margin-left: 2em;
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1.5px purple;
}

/*
 * CSS from https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/details
 */

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

/*
 * Inline icons
 */
{{
  icon_hw = '14px'
}}
{% def icon_class class_name icon_url border_radius %}
.{{class_name}} {
  background: url("{{link(icon_url)}}");
  background-size: cover;
  border-radius: {{border_radius}};
  height: {{icon_hw}};
  width: {{icon_hw}};
  display: inline-block;
}{% %}

{{icon_class('am-icon', 'AM-favicon-192x192', '16%')}}
{{icon_class('mdm-icon', 'medium-logo-square', '35%')}}

/* Last modified {{page.getLastModified()}}. */
