{% capture content %}
{{page.crumbs()}}
<article>
{% if exists('title') %}
<h2>{{ title }}</h2>
{% endif %}
<div class="content">
{{ content }}
</div>
{% if 'fiction' in [d.dirName for d in page.parents] + [dir.dirName] %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap" rel="stylesheet">
<style>
.content {
	font-family: 'IM Fell English', {{ std_serif_1 }};
	font-size: 17px;
}
</style>
{% endif %}
</article>{% endcapture %}
{{ inject(path('skeleton')) }}